body {
    background: hotpink;
}

.buttonPrevNext {
    background: red;
}

.buttonPrevNext:hover {
    background: blue;
    cursor: pointer;
}

#infoHeader {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;

    padding-top: 0.5em;

    z-index: 2;
    font-size: 150%;
    color: #BDBDBD;

}

#infoHeader .title {
    font-size: 150%;
    background: rgba(0, 0, 0, 0.5);

    padding: 10px;
    padding-top: 30px;

    border-radius: 10px;

    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#infoPopup .legendButton {
    font-weight: bold;
    color: firebrick;
}

#infoButton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    font-style: italic;
    font-size: 180%;
    color: white;

    background: rgba(0, 0, 0, 0.5);

    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;


    border-radius: 1000px;
    border-color: #BDBDBD;
    border-style: solid;
    border-width: 2px;
}

#infoButton:hover {
    cursor: pointer;
}

#infoPopup {
    position: absolute;
    top: 80px;
    left: 10px;
    z-index: 2;

    font-size: 150%;
    width: 30%;

    color: #BDBDBD;

    background: rgba(0, 0, 0, 0.5);

    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;


    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#infoPopup a {
    color: #8888ff;
}