*, html{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(117, 255, 37);
}

.buttonPrevNext {
    background: red;
}

.buttonPrevNext:hover {
    background: blue;
    cursor: pointer;
}

#infoPopup .legendButton {
    font-weight: bold;
    color: firebrick;
}

#infoButton, #optionButton{
    position: absolute;
    top: 70px;
    left: 70px;
    z-index: 2;

    font-style: italic;
    font-size: 180%;
    color: white;

    background: rgba(0, 0, 0, 0.5);

    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 1000px;
    border-color: #BDBDBD;
    border-style: solid;
    border-width: 2px;
}

#infoButton:hover, #optionButton:hover {
    cursor: pointer;
}

#infoPopup {
    position: absolute;
    top: 140px;
    left: 10px;
    z-index: 2;

    font-size: 150%;
    width: 30%;

    color: #BDBDBD;

    background: rgba(0, 0, 0, 0.5);

    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;


    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#infoPopup a {
    color: #8888ff;
}

#optionButton {
    left: 10px;

    padding: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;

    font-size: 150%;
    width: 20%;

    color: #BDBDBD;

    background: rgba(0, 0, 0, 0.5);

    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;


    border-radius: 10px;
    border-color: rgb(65, 65, 65);
    border-style: solid;
    border-width: 2px;
}

#timeDiv {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    font-size: 150%;
    width: 20%;

    color: #BDBDBD;

    background: rgba(0, 0, 0, 0.5);

    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;


    border-radius: 10px;
    border-color: rgb(65, 65, 65);
    border-style: solid;
    border-width: 2px;
}

#textDiv {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    text-align: center;

    font-size: 150%;
    width: 45%;
    margin-left: 25%;

    color: #BDBDBD;

    background: rgba(0, 0, 0, 0.5);

    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;


    border-radius: 10px;
    border-color: rgb(65, 65, 65);
    border-style: solid;
    border-width: 2px;
}