.page-bg {
    background: url(../recursos/img-fondo/fondo01.jpg);
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    color: white;
}

#scores {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#scores>* {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#formLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 4px solid #4C4C4C;
}

#formLog>* {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#formReg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 4px solid #4C4C4C;
}

#formReg>* {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
}

select {
    padding: 10px;
}

#titulo>img {
    width: 100%;
}