@font-face {
    /* for mute button which is part of awesome font */
    font-family: 'FontAwesome';
    src: url('vendor/Font-Awesome/font/fontawesome-webfont.eot?v=3.2.1');
    src: url('vendor/Font-Awesome/font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('vendor/Font-Awesome/font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('vendor/Font-Awesome/font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('vendor/Font-Awesome/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
    font-weight: normal;
    font-style: normal;
}

.osdFont {
    font-family: arial, verdana, sans-serif;
    font-size: 200%;
    font-weight: bolder;

    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;

    color: #000;
    text-shadow: 0 0 0.2em #fbc, 0 0 0.2em #fbc, 0 0 0.2em #fbc;
}

.osdFont {
    opacity: 0;
    pointer-events: none;
}

.osdFont.visible {
    opacity: 1;
    pointer-events: all;
}

.clickableOsd:hover {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 6px;
    pointer: 'hand';
}

.osdIcon {
    font-family: FontAwesome;
    font-size: 500%
}

.osdIcon:before {
    line-height: 1.1;
    padding: 10px;
}